<app-navbar></app-navbar>
<p>take-quiz works!</p>
<!-- This is a card for the question and answers to be on for taking quiz -->
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Qwiz</h5>
                <h1 class="card-text"> # Question ...?</h1>

                <!-- this is a check box for user to use to signify answer picked -->
                <div id="answers" class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        A) Answer ...
                    </label>
                </div>
                <div id="answers" class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        B) Answer ...
                    </label>
                </div>
                <div id="answers" class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        C) Answer ...
                    </label>
                </div>
                <div id="answers" class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        D) Answer ...
                    </label>
                </div>

                <!-- This is to create a button for Next -->
                <!-- Next goes to next question, last question Next goes to results page -->
                <div>
                    <button id="button" type="button" class="btn btn-primary">Next</button>
                </div>

            </div>
        </div>