div.card {
    background-color: lightgrey;
    height: 25em;
    width: 25em;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 20%;
}

div.card-body {
    padding: 2em;
}

div#button {
    margin-top: 3em;
}

h5, h1 {
    margin: .3em;

}

div#answers {
    margin: .5em;
}