/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: Futura-Std-Medium;
    src: url ('assets/Futura-Std-Medium.otf')
    format('opentype');
    }


/* This is adding a linear gradient color (Left to Right) for the background - every page */
body {
   
    align-content: center;

    background: linear-gradient(0.25turn, rgb(115,165,194), rgb(185,185,186), rgb(253,181,21))fixed;
    height: stretch;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;

}

/* background for all paragraphs*/
p {
    color: whitesmoke;
    text-shadow: 1em;
    font-weight: bolder;
    font-size: 1em;
    margin-top: 1.5em;
    margin-left: 1.5em;
}


/* this is for if an input is invalid*/
input.ng-invalid.ng-dirty{
    border-bottom-color: red !important;
    box-shadow: 0 1px 0 0 red !important;
}
