<p>navbar works!</p>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <nav>
        <a routerLink="/login-register"><button type="button" class="btn btn-success">Login/Register</button></a>
        <a routerLink="/create-quiz"><button type="button" class="btn btn-warning">Create A Quiz</button></a>
        <a routerLink="/take-quiz"><button type="button" class="btn btn-warning">Take A Quiz </button></a>
        <a routerLink="/leaderboard"><button type="button" class="btn btn-warning">Leaderboard </button></a>
        <a routerLink="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
    </nav>
</div>

